h1 {
  text-align: center;
  color: cyan;
}

h2 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: cyan;
}

h3 {
  text-align: center;
}

h5 {
  font-size: 50px;
  color: #06194f;
}

.logo {
  text-align: center;
}

.jumbotron {
  padding-top: 20px;
  padding-bottom: 20px;
}

#Home {
  color: white;
  font-size: 22px;
}

.page-footer {
  text-align: center;
  background-color: #66c2ff;
  font-size: 10px;
}

header {
  height: 100vh;
  background-repeat: none;
  background-size: 100%;
}

/* Style inputs, select elements and textareas */

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* Style the submit button */

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

/* Style the container */

.container {
  border-radius: 10px;
  background-color: #f2f2f2;
  padding: 20px;
  background: transparent;
}

/* Floating column for labels: 25% width */

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */

@media (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

.btn {
  text-align: right;
  color: #022033;
  background-color: #b4c1be;
  float: right;
}

.container1 {
  background-size: cover;
  padding-right: 0px;
  padding-left: 50px;
}

.link {
  text-align: center;
}

.btn-block {
  background-color: #66c2ff;
  text-align: center;
}

.background2 {
  background-image: url("../img/LkFisadi.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 1500px 760px;
}

body {
  padding-left: 10px;
  padding-right: 10px;
  background-image: url("../img/Ufisa10.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 1500px 915px;
  text-align: center;
}
